<p id="notice"><%= notice %></p>

<p>
  <strong>Janru:</strong>
  <%= @target.janru %>
</p>

<p>
  <strong>Channelnumber:</strong>
  <%= @target.channelnumber %>
</p>

<%= link_to 'Edit', edit_target_path(@target) %> |
<%= link_to 'Back', targets_path %>
