<div id="contents2"> 
<h1>SKOTへようこそスコー</h1>

<% if flash[:notice] %>
  <p><%= flash[:notice] %><p>
<% end %>

<% if flash[:danger] %>
  <p><%= flash[:danger] %><p>
<% end %>

<div>
  <div>
    <%= form_for(:session_teacher, url: login_teacher_path) do |f| %>

        <%= f.label "アカウント" %>
        <%= f.text_field :account %>

        <%= f.label "パスワード" %>
        <%= f.password_field :password %>
        <br>
        <br>

        <%= f.submit "ログイン" %>
        <br>
        <%= link_to "生徒用ログインへ",login_path %>
    <% end %>

  </div>
</div>