<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @diary.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @diary.title %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @diary.contents %>
</p>

<p>
  <strong>Time:</strong>
  <%= @diary.time %>
</p>

<%= link_to 'Edit', edit_diary_path(@diary) %> |
<%= link_to 'Back', diaries_path %>
