<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @diary.user.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @diary.diarytitle.title %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @diary.contents %>
</p>

<p>
  <strong>Time:</strong>
  <%= @diary.time %>
</p>

<% if current_user.name == @diary.user.name %>
<%= link_to '編集', edit_diary_path(@diary) %> |
<% end %>
<%= link_to '戻る', home_search_grade_class_path %>

<%= link_to"<<", diary_path(@prev_diary_id) if @prev_diary_id.present? %>
<%= link_to">>", diary_path(@next_diary_id) if @next_diary_id.present? %>
