<div id="middle3">

<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @diary.user.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @diary.diarytitle.title %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @diary.contents %>
</p>

<p>
  <strong>Time:</strong>
  <%= @diary.time %>
</p>

<p><b>コメント</b></p>
<%= form_tag('/diary_coments') do %>
  <%= hidden_field :diary_coment, :diary_id, :value => @diary.id %>
  <p>
  <%= text_field :diary_coment, :diary_coment %>
  <%= submit_tag "コメント追加" %>
  </p>
  <% end %>

<% @diary.diary_coments.each do |d| %>
  <p>
  <%= d.created_at %>
  <br>
  <%= d.coments %>
  
  <%= link_to '編集', edit_diary_coment_path(d.id) %>
  <%= link_to '削除', d, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>

<% if current_user.name == @diary.user.name %>
<%= link_to '編集', edit_diary_path(@diary) %> |
<% end %>
<%= link_to '戻る', home_search_grade_class_path %>

<%= link_to"<<", diary_path(@prev_diary_id) if @prev_diary_id.present? %>
<%= link_to">>", diary_path(@next_diary_id) if @next_diary_id.present? %>

</div>