<p id="notice"><%= notice %></p>

<h1>お題</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diarytitles.each do |diarytitle| %>
      <tr>
        <td><%= diarytitle.title %></td>
        <td><%= link_to '編集', edit_diarytitle_path(diarytitle) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_diarytitle_path %>
<%= link_to '戻る', home_write_or_show_path %>