<p id="notice"><%= notice %></p>

<h1>Diarytitles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diarytitles.each do |diarytitle| %>
      <tr>
        <td><%= diarytitle.title %></td>
        <td><%= link_to 'Show', diarytitle %></td>
        <td><%= link_to 'Edit', edit_diarytitle_path(diarytitle) %></td>
        <td><%= link_to 'Destroy', diarytitle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diarytitle', new_diarytitle_path %>
