<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :アカウント %>
    <%= form.text_field :account %>
  </div>

  <div class="field">
    <%= form.label :パスワード %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :名前 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :ふりがな %>
    <%= form.text_field :hurigana %>
  </div>

  <div class="field">
    <%= form.label :学年 %>
    <%= form.number_field :grade %>
  </div>

  <div class="field">
    <%= form.label :クラス %>
    <%= form.number_field :klass %>
  </div>

  <div class="field">
    <%= form.label :番号 %>
    <%= form.number_field :number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
