<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @user.account %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Hurigana:</strong>
  <%= @user.hurigana %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @user.grade %>
</p>

<p>
  <strong>Klass:</strong>
  <%= @user.klass %>
</p>

<p>
  <strong>Number:</strong>
  <%= @user.number %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
