<ul>
<li><%= link_to '1-1', home_clicked_path(gakunen: 1, kumi: 1) %></li>
<li><%= link_to '1-2', home_clicked_path(gakunen: 1, kumi: 2) %></li>
<li><%= link_to '1-3', home_clicked_path(gakunen: 1, kumi: 3) %></li>
<li><%= link_to '1-4', home_clicked_path(gakunen: 1, kumi: 4) %></li>
<li><%= link_to '2-1', home_clicked_path(gakunen: 2, kumi: 1) %></li>
<li><%= link_to '2-2', home_clicked_path(gakunen: 2, kumi: 2) %></li>
<li><%= link_to '2-3', home_clicked_path(gakunen: 2, kumi: 3) %></li>
<li><%= link_to '2-4', home_clicked_path(gakunen: 2, kumi: 4) %></li>
<li><%= link_to '3-1', home_clicked_path(gakunen: 3, kumi: 1) %></li>
<li><%= link_to '3-2', home_clicked_path(gakunen: 3, kumi: 2) %></li>
<li><%= link_to '3-3', home_clicked_path(gakunen: 3, kumi: 3) %></li>
<li><%= link_to '3-4', home_clicked_path(gakunen: 3, kumi: 4) %></li>
</ul>

<%= link_to '戻る', home_write_or_show_path %>