<%= form_with(model: teacher) do |form| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
        <% teacher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :アカウント %>
    <%= form.text_field :account %>
  </div>

  <div class="field">
    <%= form.label :パスワード %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :名前 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :フリガナ %>
    <%= form.text_field :hurigana %>
  </div>

  <div class="field">
    <%= form.label :学年 %>
    <%= form.number_field :grade %>
  </div>

  <div class="field">
    <%= form.label :クラス %>
    <%= form.number_field :klass %>
  </div>

  <div class="actions">
    <%= form.submit "作成" %>
  </div>
<% end %>
