<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @teacher.account %>
</p>

<p>
  <strong>Password:</strong>
  <%= @teacher.password %>
</p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Hurigana:</strong>
  <%= @teacher.hurigana %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @teacher.grade %>
</p>

<p>
  <strong>Klass:</strong>
  <%= @teacher.klass %>
</p>

<%= link_to '編集', edit_teacher_path(@teacher) %> |
<%= link_to '戻る', teachers_path %>
