<h1><%= @target.janru %></h1>

<div id ="messages">
  <% @chats.each do |message| %>
    <% if message.user_id == current_user.id %>
    <div class=me>
    <% else %>
    <div class=you>
    <% end %>
    <%= render "message", message: message %></div>
  <% end %>
</div>
<form>
<span style="font-size:20px;"><label>お話しして🍞:</label></span>
  <input type="text" data-behavior="room_speaker" class = text1>
  <br>
  <span style="font-size:20px;"><%= link_to '戻る', rooms_index_path %></span>
  <%= hidden_field_tag :target_id, @target_id %>
  <%= hidden_field_tag :current_user, current_user.id %>
  </form>