<!DOCTYPE html>
<html>
  <head>
    <title>Skot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
       function ShowLength( str ) {
       document.getElementById("inputlength").innerHTML = str.length + "文字";
       if (str.length >= 40) {
        var obj = document.getElementById("diary_contents");
        obj.style.color = '#ff0000';            //文字色を赤にする
        //obj.style.backgroundColor = '#ff0000';  //背景色を赤にする
       } else {
        var obj = document.getElementById("diary_contents");
        obj.style.color = '#000000';            //文字色を黒にする
       }
    }
</script>
    </head>

  <body>
    <% if logged_in? %>
      <%= current_user.name %> | <%=link_to "Log out", logout_path, method: :delete %>
    <% else %>
      <%= link_to "Log in", login_path %> | <%= link_to "Log in teacher", login_teacher_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
